<link rel="stylesheet" href="./../assets/css/custom.css" type="text/css" />
<div class="jumbotron jumbotron-fluid my-0 py-4 bg-light">
  <div class="container">
    <h1 class="display-3">Search for a League</h1>
    <hr class="my-2">
  </div>
</div>
<div class="container-fluid d-flex h-100 flex-column my-4 ">
  <div class="row justify-content-center ">
    <div class="col-lg-2 mx-4 border rounded border-primary">
      <div class="row">
        <div class="col p-2 border-bottom border-primary">
          <h4>
            League Criteria:
          </h4>
        </div>
      </div>

      <div class="row justify-content-center py-4 ">
        <div class="col-md-10">
          <form action="">
            <div class="row">
              <div class="col">
                <input class="form-control" type="text" placeholder="Search League Name" aria-label="Search">
              </div>
            </div>
            <div class="row py-2">
              <div class="col">
                <div class="accordion" id="accordionExample">
                  <div class="card">
                    <div class="card-header" id="headingOne">
                      <h2 class="mb-0">
                        <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#collapseOne"
                          aria-expanded="true" aria-controls="collapseOne">
                          Gender
                        </button>
                      </h2>
                    </div>
                  </div>
                  <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                      <select class="form-control">
                        <option value="one">Boy</option>
                        <option value="two">Girl</option>
                      </select>
                    </div>
                  </div>

                  <div class="card">
                    <div class="card-header" id="headingTwo">
                      <h2 class="mb-0">
                        <button class="btn btn-info collapsed" type="button" data-toggle="collapse"
                          data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          Sports
                        </button>
                      </h2>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                      <div class="card-body">
                        <select class="form-control">
                          <option value="one">Baseball</option>
                          <option value="two">Soccer</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-lg-9 mx-4 border rounded border-primary">
      <div class="row">
        <div class="col p-2 border-bottom border-primary">
          <h4>
            Leagues to Join: 
          </h4>
        </div>
      </div>
      <div class="row">
        {{#each dbLeague}}
        <div class="col-lg-4">
          <ul class="list-group list-group-horizontal flex-wrap p-2" id="searchCardArea">
            <li class="list-group-item p-0 w-100 border-0">
              <div class="card border rounded border-info">
                <div class="card-body">

                  <h4 class="card-title">{{league_name}}</h4>
                  <p class="card-text">Sport: {{sport}}</p>
                  <p class="card-text">Age Range: {{age_range}}</p>
                  <p class="card-text">City/State: {{city}}, {{state}}</p>
                  <p class="card-text">Location: {{location}}</p>


                  <button data-id="{{id}}" href="/league-home/{{this.id}}"
                    class="btn btn-warning btn-lg active leaguePageBtn" role="button" aria-pressed="true">League home</button>


                    {{!-- <button class="btn btn-warning btn-lg active leaguePageBtn" role="button" aria-pressed="true">League

                      page</button> --}}
                    <button data-id="{{id}}" class=" btn btn-warning btn-lg registerBtn" role="button"
                      aria-pressed="true">Register</button>
                </div>
              </div>
            </li>
          </ul>
        </div>
      {{/each}}
      </div>
    </div>
  </div>
</div>