<link rel="stylesheet" href="./../assets/css/custom.css" type="text/css" />
<div class="jumbotron jumbotron-fluid my-0 py-4">
  <div class="container">
    <h1 class="display-3">Search for a league</h1>
    <hr class="my-2">
  </div>
</div>
<div class="container-fluid d-flex h-100 flex-column my-4">
  <div class="row justify-content-center">
    <div class="col-lg-2 mx-4" style="border: 2px solid red; ">
      <div class="row">
        <div class="col p-2" style="background-color: #E9ECEF; border-bottom: 2px solid black;">
          <h4>
            League Criteria
          </h4>
        </div>
      </div>

      <div class="row justify-content-center py-4">
        <div class="col-md-10">
          <form action="">
            <div class="row">
              <div class="col">
                <input class="form-control" type="text" placeholder="Search League Name" aria-label="Search">
              </div>
            </div>
            <div class="row py-2">
              <div class="col">
                <div class="accordion" id="accordionExample">
                  <div class="card">
                    <div class="card-header" id="headingOne">
                      <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                          aria-expanded="true" aria-controls="collapseOne">
                          Gender
                        </button>
                      </h2>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                      data-parent="#accordionExample">
                      <div class="card-body">
                        <select class="form-control">
                          <option value="one">Boy</option>
                          <option value="two">Girl</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="headingTwo">
                      <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                          data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          Sports
                        </button>
                      </h2>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                      <div class="card-body" style="height: auto;">
                        <select class="form-control">
                          <option value="one">Baseball</option>
                          <option value="two">Soccer</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-lg-9 mx-4" style="border: 2px solid red;">
      <div class="row">
        <div class="col p-2" style="background-color: #E9ECEF; border-bottom: 2px solid black;">
          <h4>
            Leagues to Join:
          </h4>
        </div>
      </div>

      <div class="row my-4 mx-3 py-2 px-3" style="border: 2px solid black;">
        <div class="col">
          <ul class="list-group list-group-horizontal align-items-stretch flex-wrap" id="searchCardArea">
            {{#each dbLeague}}
            <li class="list-group-item border-0">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">{{league_name}}</h4>
                  <p class="card-text">{{sport}}</p>
                  <p class="card-text">{{age_range}}</p>
                  <p class="card-text">{{city}}, {{state}}</p>
                  <p class="card-text">{{location}}</p>
                  <button data-id="{{id}}" href="/league-home/{{this.id}}" class="btn btn-secondary btn-lg active leaguePageBtn" role="button"
                    aria-pressed="true">League
                    page</button>
                  <button class="btn btn-primary btn-lg" role="button" aria-pressed="true" data-toggle="modal"
                    data-target="#exampleModal">Register</button>
                </div>
              </div>
            </li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Participant Info</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="firstName">First Name</label>
              <input type="text" class="form-control" id="league-name" placeholder="First Name">
            </div>
          </div>
          <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" id="sport-name" placeholder="Last Name">
          </div>
          <div class="form-group">
            <label for="lastName">Perferred Position</label>
            <input type="text" class="form-control" id="sport-name" placeholder="Enter Perferred Position">
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">Male</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
            <label class="form-check-label" for="inlineRadio2">Female</label>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
