
<link rel="stylesheet" href="./../assets/css/custom.css" type="text/css"/>
<div class="jumbotron jumbotron-fluid my-0 py-4 bg-light">

    <div class="container">
        <h1 class="display-3">Your Portal</h1>
        <hr class="my-2">
    </div>
</div>
<div class="container my-4 border rounded border-primary">
    <div class="row">
        <div class="col-lg-6 px-0 border border-info">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Find a new league to join:</h2>
                    <p class="card-text">
                        <button type="button" id="toLeagueSearch" class="btn btn-warning btn-lg btn-block">League search</button>

                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 px-0 border border-info">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Create a league here:</h2>
                    <p class="card-text">
                        <button type="button" class="btn btn-warning btn-lg btn-block" data-toggle="modal"
                            data-target="#league-modal">Create a league</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container my-4 border rounded border-primary">
    <div class="row">
        <div class="col-lg-12 px-0 border border-info">
            <div class="card" id="viewParticipantLeagues">

                    <div class="card-body">
                        <h2 class="card-title">View Current Leagues:</h2>
                        <button class="btn btn-info toManagedLeagues">Leagues you manage</button>
                        <p class="card-text">
                            <ul class="list-group list-group-horizontal align-items-stretch flex-wrap" id="participantLeaguesArea">
                                <li class="list-group-item border-0">
                                    <div class="card ">
                                            <div class="card-body">
                                                <h4 class="card-title">League 8</h4>
                                                <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum atque, harum voluptate quo, dolorem temporibus veniam delectus officia et veritatis eius. Repudiandae vero, neque beatae velit eveniet doloribus repellendus adipisci.</p>
                                                <a href="#" class="btn btn-warning btn-lg active" role="button" aria-pressed="true">League page</a>

                                            </div>
                                        </div>
                                </li>
                                <li class="list-group-item border-0">
                                    <div class="card ">
                                            <div class="card-body">
                                                <h4 class="card-title">League 8</h4>
                                                <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum atque, harum voluptate quo, dolorem temporibus veniam delectus officia et veritatis eius. Repudiandae vero, neque beatae velit eveniet doloribus repellendus adipisci.</p>
                                                <a href="#" class="btn btn-warning btn-lg active" role="button" aria-pressed="true">League page</a>
                                            </div>
                                        </div>
                                </li>
                                <li class="list-group-item border-0">
                                    <div class="card ">
                                            <div class="card-body">
                                                <h4 class="card-title">League 8</h4>
                                                <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum atque, harum voluptate quo, dolorem temporibus veniam delectus officia et veritatis eius. Repudiandae vero, neque beatae velit eveniet doloribus repellendus adipisci.</p>
                                                <a href="#" class="btn btn-warning btn-lg active" role="button" aria-pressed="true">League page</a>
                                            </div>
                                        </div>
                                </li>
                                <li class="list-group-item border-0">
                                    <div class="card ">
                                            <div class="card-body">
                                                <h4 class="card-title">League 8</h4>
                                                <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum atque, harum voluptate quo, dolorem temporibus veniam delectus officia et veritatis eius. Repudiandae vero, neque beatae velit eveniet doloribus repellendus adipisci.</p>
                                                <a href="#" class="btn btn-warning btn-lg active" role="button" aria-pressed="true">League page</a>
                                            </div>
                                        </div>
                                </li>
                                <li class="list-group-item border-0">
                                    <div class="card ">
                                            <div class="card-body">
                                                <h4 class="card-title">League 8</h4>
                                                <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum atque, harum voluptate quo, dolorem temporibus veniam delectus officia et veritatis eius. Repudiandae vero, neque beatae velit eveniet doloribus repellendus adipisci.</p>
                                                <a href="#" class="btn btn-warning btn-lg active" role="button" aria-pressed="true">League page</a>
                                            </div>
                                        </div>
                                </li>
                                <li class="list-group-item border-0">
                                    <div class="card ">
                                            <div class="card-body">
                                                <h4 class="card-title">League 8</h4>
                                                <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum atque, harum voluptate quo, dolorem temporibus veniam delectus officia et veritatis eius. Repudiandae vero, neque beatae velit eveniet doloribus repellendus adipisci.</p>
                                                <a href="#" class="btn btn-warning btn-lg active" role="button" aria-pressed="true">League page</a>
                                            </div>
                                        </div>
                                </li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
            <div class="card hide" id="viewManagerLeagues">

                <div class="card-body">
                    <h2 class="card-title">View Current Leagues:</h2>
                    <button class="btn btn-info toManagedLeagues">Leagues you manage</button>
                    <p class="card-text">

                        <ul class="list-group list-group-horizontal align-items-stretch flex-wrap"
                            id="participantLeaguesArea">
                            <li class="list-group-item border-0">
                                    <div class="card ">
                                            <div class="card-body">
                                                <h4 class="card-title">League 8</h4>
                                                <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum atque, harum voluptate quo, dolorem temporibus veniam delectus officia et veritatis eius. Repudiandae vero, neque beatae velit eveniet doloribus repellendus adipisci.</p>
                                                <a href="#" class="btn btn-warning btn-lg active" role="button" aria-pressed="true">League page</a>
                                            </div>
                                        </div>
                                </li>
                            {{#each dbLeague}}
                            <li class="list-group-item border-0">
                                <div class="card ">
                                    <div class="card-body">
                                        <h4 class="card-title">{{league_name}}</h4>
                                        <p class="card-text">{{sport}}</p>
                                        <p class="card-text">{{age_range}}</p>
                                        <p class="card-text">{{city}}, {{state}}</p>
                                        <p class="card-text">{{location}}</p>
                                        <a href="#" class="btn btn-secondary btn-lg active" role="button"
                                            aria-pressed="true">League page</a>
                                    </div>
                                </div>
                            </li>
                            {{/each}}
                        </ul>
                    </p>
                </div>
            </div>
        </div>
        <div class="card hide" id="viewManagerLeagues">
            <div class="card-body">
                <h2 class="card-title">Leagues you manage:</h2>
                <button class="btn btn-danger toParticipantLeagues">To Your Leagues</button>
                <p class="card-text">

                    <ul class="list-group list-group-horizontal align-items-stretch flex-wrap" id="managedLeaguesArea">
                        <li class="list-group-item border-0">
                            <div class="card ">
                                <div class="card-body">
                                    <h4 class="card-title">League 8</h4>
                                    <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                                        Laborum atque, harum voluptate quo, dolorem temporibus veniam delectus
                                        officia et veritatis eius. Repudiandae vero, neque beatae velit eveniet
                                        doloribus repellendus adipisci.</p>
                                    <a href="#" class="btn btn-secondary btn-lg active" role="button"
                                        aria-pressed="true">League page</a>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item border-0">
                            <div class="card ">
                                <div class="card-body">
                                    <h4 class="card-title">League 8</h4>
                                    <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                                        Laborum atque, harum voluptate quo, dolorem temporibus veniam delectus
                                        officia et veritatis eius. Repudiandae vero, neque beatae velit eveniet
                                        doloribus repellendus adipisci.</p>
                                    <a href="#" class="btn btn-secondary btn-lg active" role="button"
                                        aria-pressed="true">League page</a>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item border-0">
                            <div class="card ">
                                <div class="card-body">
                                    <h4 class="card-title">League 8</h4>
                                    <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                                        Laborum atque, harum voluptate quo, dolorem temporibus veniam delectus
                                        officia et veritatis eius. Repudiandae vero, neque beatae velit eveniet
                                        doloribus repellendus adipisci.</p>
                                    <a href="#" class="btn btn-secondary btn-lg active" role="button"
                                        aria-pressed="true">League page</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</div>
</div>


<!-- Create League Modal -->
<div class="modal fade" id="league-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create League</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="newLeague-form">
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="league-name">League Name</label>
                            <input type="text" class="form-control" id="league-name" placeholder="League Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputSport">Sport</label>
                        <input type="text" class="form-control" id="sport-name" placeholder="Sport">
                    </div>
                    <div class="form-group">
                        <label for="age-range">Age Range</label>
                        <select class="form-control" id="select-age">
                            <option value="5-7">5-7</option>
                            <option value="8-10">8-10</option>
                            <option value="11-13">11-13</option>
                            <option value="14-17">14-17</option>
                            <option value="18+">18+</option>
                            <option value="Senior">Senior</option>
                        </select>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputCity">City</label>
                            <input type="text" class="form-control" id="inputCity" placeholder="city">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputState">State</label>
                            <select id="inputState" class="form-control">
                                <option value="Alabama - AL">Alabama - AL</option>
                                <option value="Alaska - AK">Alaska - AK</option>
                                <option value="Arizona - AZ">Arizona - AZ</option>
                                <option value="Arkansas - AR">Arkansas - AR</option>
                                <option value="California - CA">California - CA</option>
                                <option value="Colorado - CO">Colorado - CO</option>
                                <option value="Connecticut - CT">Connecticut - CT</option>
                                <option value="Delaware - DE">Delaware - DE</option>
                                <option value="Florida - FL">Florida - FL</option>
                                <option value="Georgia - GA">Georgia - GA</option>
                                <option value="Hawaii - HI">Hawaii - HI</option>
                                <option value="Idaho - ID">Idaho - ID</option>
                                <option value="Illinois - IL">Illinois - IL</option>
                                <option value="Indiana - IN">Indiana - IN</option>
                                <option value="Iowa - IA">Iowa - IA</option>
                                <option value="Kansas - KS">Kansas - KS</option>
                                <option value="Kentucky - KY">Kentucky - KY</option>
                                <option value="Louisiana - LA">Louisiana - LA</option>
                                <option value="Maine - ME">Maine - ME</option>
                                <option value="Maryland - MD">Maryland - MD</option>
                                <option value="Massachusetts - MA">Massachusetts - MA</option>
                                <option value="Michigan - MI">Michigan - MI</option>
                                <option value="Minnesota - MN">Minnesota - MN</option>
                                <option value="Mississippi - MS">Mississippi - MS</option>
                                <option value="Missouri - MO">Missouri - MO</option>
                                <option value="Montana - MT">Montana - MT</option>
                                <option value="Nebraska - NE">Nebraska - NE</option>
                                <option value="Nevada - NV">Nevada - NV</option>
                                <option value="New Hampshire - NH">New Hampshire - NH</option>
                                <option value="New Jersey - NJ">New Jersey - NJ</option>
                                <option value="New Mexico - NM">New Mexico - NM</option>
                                <option value="New York - NY">New York - NY</option>
                                <option value="North Carolina - NC">North Carolina - NC</option>
                                <option value="North Dakota - ND">North Dakota - ND</option>
                                <option value="Ohio - OH">Ohio - OH</option>
                                <option value="Oklahoma - OK">Oklahoma - OK</option>
                                <option value="Oregon - OR">Oregon - OR</option>
                                <option value="Pennsylvania - PA">Pennsylvania - PA</option>
                                <option value="Rhode Island - RI">Rhode Island - RI</option>
                                <option value="South Carolina - SC">South Carolina - SC</option>
                                <option value="South Dakota - SD">South Dakota - SD</option>
                                <option value="Tennessee - TN">Tennessee - TN</option>
                                <option value="Texas - TX">Texas - TX</option>
                                <option value="Utah - UT">Utah - UT</option>
                                <option value="Vermont - V">Vermont - VT</option>
                                <option value="Virginia - VA">Virginia - VA</option>
                                <option value="Washington - WA">Washington - WA</option>
                                <option value="West Virginia - WV">West Virginia - WV</option>
                                <option value="Wisconsin - WI">Wisconsin - WI</option>
                                <option value="Wyoming - WY">Wyoming - WY</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="inputCity">Location</label>
                            <input type="text" class="form-control" id="inputLocation" placeholder="Enter Location">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-info">Save changes</button>

            </div>
        </div>
    </div>
</div>